<%= form_for(@algorithm) do |f| %>
  <% if @algorithm.errors.any? %>
    <ul>
      <% @algorithm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field form-group">
    <%= f.label :slug %><br/>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :language %><br />
    <%= f.select('language', options_from_collection_for_select(Algorithm::LANGUAGE_LOOKUP, :last, :first), { :selected => @algorithm.language }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label :input_type %><br />
    <%= f.select('input_type', options_from_collection_for_select(Algorithm::INPUT_TYPE_LOOKUP, :last, :first), { :selected => @algorithm.input_type}, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label :output_type %><br />
    <%= f.select('output_type', options_from_collection_for_select(Algorithm::OUTPUT_TYPE_LOOKUP, :last, :first), { :selected => @algorithm.output_type }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label 'Parameters in JSON format' %>
    Warning: This is advanced configuration. <br/> Please refer to <a href="/algorithmguide" onclick="window.open(this.href,'targetWindow','width=500,height=SomeSize'); return false;">this documentation</a> for more information
    <br />
    <%= f.text_area :parameters, {:style=> 'width:100%;', :placeholder=>'[{"key":"sample_key","title":"Sample Parameter","type":1,"required":true,"order":1,"default_value":100}]'}%>
  </div>

  <div class="field form-group">
    <%= f.label 'Forced Tile Size (optional)' %><br />
    <%= f.number_field :tile_size %>
  </div>

  <div class="field form-group">
    <%= f.label 'Multiple Outputs? (optional)', :class=>"bmd-label-static"%><br />
    <%= f.check_box :multioutput %>
  </div>

  <div class="field form-group">
    <%= f.label 'Multi-Output Parameters in JSON format (optional)' %>
    Warning: This is advanced configuration. <br/> Please refer to <a href="/algorithmguide" onclick="window.open(this.href,'targetWindow','width=500,height=SomeSize'); return false;">this documentation</a> for more information
    <br />
    <%= f.text_area :multioutput_options, {:style=> 'width:100%;', :placeholder=>'[{"key":"sample_key","title":"Sample Parameter","type":1,"required":true,"order":1,"default_value":100}]'}%>
  </div>


  <div class="actions form-group float-right">
    <%= f.submit "Save", class: 'btn btn-raised btn-success'%>
  </div>
<% end %>