<%= fields_for :parameters, @run.parameters do |parameter_fields| %>
 	<% @algorithm.parameters.each do |parameter|%> <!-- TODO INTEGRATE ANOTHER ALGORITHM -->
 		<% if !parameter["hard_coded"] && !parameter["annotation_derived"] %>
 		<div class="form-group">
 			<%= parameter_fields.label parameter["key"].to_sym, parameter["title"] %>
 			<% if parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["integer"] %> 
				<%= parameter_fields.number_field parameter["key"].to_sym, { value: parameter["default_value"], class: 'form-control', :required => true} %>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["float"] %>
				<%= parameter_fields.number_field parameter["key"].to_sym, { step: 0.01, value: parameter["default_value"], class: 'form-control', :required => true} %>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["boolean"] %>
				<%= parameter_fields.check_box parameter["key"].to_sym, :required => true%>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["color"] %>
				<%= parameter_fields.text_field parameter["key"].to_sym, { value: parameter["default_value"], class: 'color-wheel', :required => true} %>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["select"] %>
				<%= parameter_fields.select(parameter["key"].to_sym, options_for_select(parameter["options"], 1), {}, { class: 'form-control', :required => true} )%>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["array"] %>
				<%= parameter_fields.text_field parameter["key"].to_sym, { value: parameter["default_value"], required: true, placeholder: parameter["placeholder"]} %>
			<% elsif parameter["type"] == Algorithm::PARAMETER_TYPE_LOOKUP["string"] %>
				<%= parameter_fields.text_field parameter["key"].to_sym, { value: parameter["default_value"], required: true, placeholder: parameter["placeholder"]} %>
			<% end %>
		</div>
		<% end %>
	<% end %>
<% end %>

<script>
$(".color-wheel").spectrum({
});
</script>