<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :description%><br/>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label 'Location' %><br />
    <%= f.select('tissue_type', Project::LOCATION_TYPES, { :selected => @project.tissue_type }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label 'Modality' %><br />
    <%= f.select('modality', Project::MODALITY_TYPES, { :selected => @project.modality }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label 'Dimensionality' %><br />
    <%= f.select('method', Project::DIMENSION_TYPES, { :selected => @project.method }, { class: 'form-control' }) %>
  </div>

  <div class="field form-group">
    <%= f.label :visibility %><br />
    <%= f.select :visibility, [["Private", 'hidden'], ["Public", 'visible']] , { :selected => @project.visibility }, { class: 'form-control' }%>
  </div>


  <div class="actions form-group float-right">
    <%= f.submit "Submit", class: 'btn btn-raised btn-success'%>
  </div>
<% end %>
