<%= form_for(@run, :html => {:multipart => true}) do |f| %>
    <div class="form-group" id="selected-algorithm">
        <%= f.label :algorithm_id, "Select an algorithm to run" %>
        <%= f.collection_select :algorithm_id, @algorithm.order('input_type ASC').where.not(name: 'generate_registered_images'), :id, :title_with_type, {include_blank: 'Please select'}, {class: 'form-control', required: true} %>
    </div>
    <% if @image.threed? %>
        <div class="form-group twod-algorithm-slice-select" style="display:none;">
            <%= f.label :image_id, "Select a image slice for analysis (applicable for 2D algorithms)" %>
            <%= f.collection_select :image_id, @slices, :id, :slice_order, {}, { class: 'form-control' } %>
        </div>
    <% else %>
        <%= f.hidden_field :image_id, :value=> @image.id %>
    <% end %>

    <div class="alert alert-primary" role="alert" style="display:none;" id="alert-roi">
        Please Select a small ROI
    </div>
    <div id="annotation-select" class="form-group">
    </div>

    <div id="tilesize-select" class="form-group">
        <%= f.label :tile_size, "Tile Size (in pixels)" %>
        <%= f.select :tile_size, @tilesizes, { :selected => 128 }, {class: 'form-control', required: true, value: []} %>
    </div>


    <br/><br/>
    <h5>Algorithm Parameters</h5>
    <hr/>
    <div id="algorithm-parameters-form">
    </div>
    <div id="button-group">
      <%= f.submit "Start Analysis", {class: "float-right btn-raised btn-success"} %>
     <%end %>
    </div>

<script>
    $('#run_algorithm_id').change(function(){
        $.get( '<%=parameter_form_algorithms_path%>', {
            'image_id': <%= @image.id %>,
            'algorithm_id': $(this).val()
        }).done(function(partial){
            $('#algorithm-parameters-form').html(partial);
        });

        $.get( '<%=annotation_form_runs_path%>', {
            'image_id': <%= @image.id %>
        }).done(function(partial){
            $('#annotation-select').html(partial);
        })
    });

    $('#run_algorithm_id').change(function(){
        if($(this).find(":selected").text().includes('3D Algorithm')){
            $('.twod-algorithm-slice-select').css('display', 'none');
            $('#run_image_id').prepend("<option value= <%= @image.id %> selected='selected'></option>");
            $('#tilesize-select').css('display', 'none');
        }
      else{
            $('.twod-algorithm-slice-select').css('display', 'block');
            $('#tilesize-select').css('display', 'block');
        }
    })
    
    $("#run_algorithm_id").change(function(){
        var selectedAlgo = $(this).children("option:selected").text();
        if (selectedAlgo.includes("GPU") == true) {
            $.get( '<%=gpu_status_runs_path%>', function(data) {
                if (data != true) {
                    addAlert("gpu is available")
                } 
            })
        } else {
            console.log('GPU Algo not selected')
        }
       console.log(selectedAlgo);
    });

    $("#run_algorithm_id").change(function(){
        var selectedAlgo = $(this).children("option:selected").text();
        if (selectedAlgo.includes("3D Volume Registration") == true) {
            $('#alert-roi').css('display', 'block');
        } else {
            console.log('3D Volume Registration not selected');
        }
       console.log(selectedAlgo);
    });
    function addAlert(message) {
    $('#alerts').append(
        '<div class="alert">' + message + '</div>');
    }
</script>
