<%= form_for(@run) do |f| %>
	<%= f.hidden_field :image_id, :value=> @image.id %>
	<div class="form-group">
		<%= f.label :algorithm_id, "Select an algorithm to run" %>
		<%= f.collection_select :algorithm_id, @algorithm, :id, :name, {include_blank: 'Please select'}, { class: 'form-control' } %>
	</div>

	<div id="annotation-select" class="form-group">
	</div>
	<br/><br/>
	<h5>Algorithm Parameters</h5>
	<hr/>
	
	<div id="algorithm-parameters-form">
	</div>
  	<%= f.submit "Start Analysis", {class: "float-right btn-raised btn-success"} %>
<%end %>

<script>
	$('#run_algorithm_id').change(function(){
		$.get( '<%=parameter_form_algorithms_path%>', {
			  	'image_id': <%= @image.id %>,
			  	'algorithm_id': $(this).val()
		}).done(function(partial){
			$('#algorithm-parameters-form').html(partial);
		});

		$.get( '<%=annotation_form_runs_path%>', {
				'image_id': <%= @image.id %>
		}).done(function(partial){
			$('#annotation-select').html(partial);
		})
	});
</script>