<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">
	<div id="viewer-sidebar" class="bmd-layout-drawer bg-faded" aria-expanded="false" aria-hidden="false">
		<span data-tab="drawer-home" class="drawer-link" style="padding:15px;">
		  <a href="/runs"><i style="vertical-align:bottom;" class="material-icons" role="presentation">arrow_back</i>
		  <span>Back to All Analyses</span></a>
		</span>
		<header>
  			<span style="white-space:pre-wrap;" class="navbar-brand">Analysis Results</span>
  			<%=link_to download_results_run_path(@run.id) do%><span>Download Raw Output</span><% end %>
		</header>
		
		<div style="padding:10px">
			<p>Analysis ID:<br/><b><%=@run.id%></b></p>
			<p>Status:<br/><b><%=@run.status_words%></b></p>
			<p>Image Title:<br/><b><%=@image.title%></b></p>
			<p>Algorithm Ran:<br/><b><%=@algorithm.title%> (ID: <%=@algorithm.id%>)</b></p>
			<% if @run.run_at %>
				<p>Started:<br/><b><%=Time.at(@run.run_at).in_time_zone.to_formatted_s(:db) %></b></p>
			<% end %>
			<%if @run.complete %>
				<p>Completed:<br/><b><%=@run.updated_at.in_time_zone.to_formatted_s(:db) %> (Took <%=distance_of_time_in_words(Time.at(@run.run_at), @run.updated_at)%>)</b></p>
			<% end %>
			<p>Result Count:<br/><b><%=@run.results.count%></b></p>
			<p>Algorithm Parameters:</p>
		</div>
		<ul>
		<% i = 0 %>
		<% @algorithm.parameters.sort_by { |k| k["order"] }.each do |parameter|%> 
	 		<li><%=parameter["title"]%> <b><%=@run.parameters[i]%></b></li>
	 		<% i += 1 %>
		<% end %>
		</ul>
    </div>

    <div class="bmd-layout-content">
		<div class="row">
			<div class="col-12">
				<div id="<%=@image.file_file_name.parameterize%>" class="openseadragon">
				</div>
			</div>
		</div>
	</div>
</div>

<script>

	var results_data = JSON.parse('<%= raw(@results_data.to_json) %>');
	var results_svg = [];
	var annotation = '<%=raw(@annotation.data.to_json) %>';
	var viewer = OpenSeadragon({
		preserveViewport: true,
	    id:            "<%=@image.file_file_name.parameterize%>",
	    prefixUrl:     "/openseadragon/images/",
	    tileSources:   "/<%=@image.dzi_url%>"
	});
	var exclude_indices = [];

	_.each(results_data, function(element, index){
		if(element[0][0] == "circle"){
			element[0][1]["index"] = index;
			element[0][1]["r"] = 0.02;
			element[0][1]["data-id"] = element[1];
			element[0][1]["fill"] = "lime"
			element[0][1]["fill-opacity"] = 0.1;
			element[0][1]["stroke"] = "lime";
			element[0][1]["stroke-width"] = 1.5;
			if(element[2] === true){
				element[0][1]["fill"] = "red";
				element[0][1]["stroke"] = "red";
				element[0][1]["exclude"] = true;
			}
		}
		results_svg.push(element[0]);
	});

	var annotation_data = JSON.parse(annotation)[0];
	results_svg.push(annotation_data);
	viewer.initializeAnnotations();
	waitForAnnotationInitialize();

	function waitForAnnotationInitialize(){
    if(viewer.areAnnotationsActive()){
        viewer.annotations.set(results_svg);

        $('.openseadragon-container').click(function(e){
	    	if($(e.target).is('circle')){
	    		var index = $(e.target).attr('index');
	    		excludeResult(index);
	    	}
	    });
    }
    else{
        setTimeout(waitForAnnotationInitialize, 250);
    }

    function excludeResult(index){
	   	var current_annotations = viewer.annotations.get();

		if (index > -1) {
			var id = current_annotations[index][1]["data-id"];
			var action = current_annotations[index][1]["exclude"] === true ? 'include' : 'exclude';

			$.ajax({
  				method: "PUT",
  				url: "/results/"+id+"/"+action+".json"
			})
	  		.done(function() {
	  			if(action == 'exclude'){
    				current_annotations[index][1]["fill"] = "red";
    				current_annotations[index][1]["stroke"] = "red";
    				current_annotations[index][1]["exclude"] = true;
    			}else{
    				current_annotations[index][1]["fill"] = "lime";
    				current_annotations[index][1]["stroke"] = "lime";
    				current_annotations[index][1]["exclude"] = false;

    			}
				viewer.annotations.set(current_annotations);
	  		});
		}
    }
}


</script>
