<div class="container">
	<br/><br/>
	<h2>Analysis <%=@run.id%>: Generate 3D Volume</h2>
	<p>Slices from your 3D volume generation will appear below. <br/>Upon completion, you may review the slice stack to convert it to a 3D volume.</p>

	<div style="padding:10px">
		<p>Progress:<br/><b><%=@slices.length%>/40 (<%=100*@slices.length.to_f/40%>%)</b></p>
		<p>Image Title:<br/><b><%=@image.title%></b></p>
		<p>Algorithm Ran:<br/><b><%=@algorithm.name%> (ID: <%=@algorithm.id%>)</b></p>
		<% if @run.run_at %>
			<p>Started:<br/><b><%=Time.at(@run.run_at).in_time_zone.to_formatted_s(:db) %></b></p>
		<% end %>
		<%if @run.complete %>
			<p>Completed:<br/><b><%=@run.updated_at.in_time_zone.to_formatted_s(:db) %> (Took <%=distance_of_time_in_words(Time.at(@run.run_at), @run.updated_at)%>)</b></p>
		<% end %>
		<p>Algorithm Parameters:</p>
		<ul>
		<% i = 0 %>
		<% @algorithm.parameters.sort_by { |k| k["order"] }.each do |parameter|%> 
	 		<li><%=parameter["title"]%> <b><%=@run.parameters[i]%></b></li>
	 		<% i += 1 %>
		<% end %>
		</ul>
	</div>

	<div class="image-table">
	 	<% if !@threed_volume %>
  	  		<%= form_tag confirm_3d_images_path do %>
	  	  		<%= submit_tag "Convert to 3D Volume", :style=> 'float:right', :class=> 'btn btn-success btn-raised'%>
				<%= render :partial => 'images/confirm_table.html.erb', :locals => { :images=>@slices}%>
			<% end %>
		<% else %>
			<a href="<%=image_url(@threed_volume.id)%>">
  	  		<button style="float:right" class="btn btn-success btn-raised">View 3D Volume</button></a>
  	  		<%= render :partial => 'images/confirm_table.html.erb', :locals => { :images=>@slices}%>
  	  	<% end %>
	</div>
</div>

<script>
    // Select all
    $("#select_all").click( function() {
    	if($(this).is(':checked')){
        	$(".image-check-box").attr('checked', true);
    	}
       	else{
       		$(".image-check-box").attr('checked', false);
       	}
    });
</script>