<div class="container">
<br/><br/>
<h1>Analyses List</h1>
<h4>Review previous analyses on images</h4>
<br/><br/>
<div class="image-table">
	<table class="table table-hover">
	  <thead>
	  	<tr>
		  	<th>ID</th>
		  	<th>Image Name</th>
		  	<th>Algorithm</th>
		  	<th>Annotation Label</th>
		  	<th>Date Run</th>
		  	<th>Status</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @runs.each do |run| %>
	  		<tr class="image-link <% if run.complete %>table-success<%elsif run.processing%>table-info<%else%>table-warning<%end%>" data-link="<%=run_path(run)%>">
	  			<td><%=run.id%></td>
	  			<td><%=run.image.title%></td>
	  			<td><%=run.algorithm.name%></td>
	  			<td><%=run.annotation.label%></td>
	  			<td><%=run.run_at%></td>
	  			<td><% if run.complete %>Complete<%elsif run.processing %>Processing (<%=run.tiles_processed%>/<%=run.total_tiles%>)<%else%>In Queue<% end%></td>
	  		</tr>
	  	<% end %>
	  </tbody>
	</table>
</div>
</div>