<span data-tab="drawer-home" class="drawer-link" style="padding:15px;">
  <i onclick="viewer.annotations.clean()" style="vertical-align:bottom;" class="material-icons" role="presentation">arrow_back</i>
  <span>Back</span>
</span>

<header>
  <span style="white-space:pre-wrap;" class="navbar-brand">Annotations</span>
</header>
<ul class="list-group">
  <%if current_user %>
    <a class="start-draw list-group-item">
      <i class="material-icons" role="presentation">edit</i>Draw
    </a>
    <a style="display:none;" class="stop-draw list-group-item">
      <i class="material-icons" role="presentation">cancel</i>Stop Drawing
    </a>
    <a onclick="viewer.annotations.clean()" class="list-group-item">
      <i class="material-icons" role="presentation">delete</i>Clear
    </a>
  <header>
      <span style="white-space:pre-wrap;" class="navbar-brand">Import</span>
      Only JSON file format is accepted at this time
    </header>
    <div class="upload-data" style="padding:15px;">
      <%= form_for :image,  url: {action: :import_annotations} do |f| %>
          <%= f.file_field :upload %>
      <%= f.submit 'Upload', :style=>'float:right', :class=>"btn-raised btn btn-success"%>
      <% end %>
    </div>

  <% else%>
    <p style="padding:20px;">
      You must <%= link_to new_user_session_path do %>log in<% end %> to save drawn annotations.
    </p>
  <% end %>

  <header>
    <span style="white-space:pre-wrap;" class="navbar-brand">Load Existing Annotations</span>
    <span>Click to visualize a previously drawn annotation</span><br/>
    <%=link_to download_annotations_image_path(@image.id) do%><span>Download Annotations in JSON</span><% end %>
  </header>
  <table class="annotations-table table table-hover">
    <thead>
      <tr>
        <th>Label</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @annotations.each do |annotation_item| %>
        <%= render partial: "annotation_row", locals: {annotation: annotation_item} %>
      <% end %>
    </tbody>
  </table>
</ul>