<div class="container">
<br/><br/>
<h1>Digital Pathology Image Archive</h1>
<h4>The list below is a repository of all the images that are available for public access</h4>
<br/>

<%= render partial: "search_form" %>

<%= link_to new_image_path do %>
	<button style="float:right" class="btn btn-success">+ Upload New Image</button>
<% end %>
<br/><br/>
<div class="image-table">
	<table class="table table-hover">
		<thead>
			<tr>
		  		<th class="d-none d-md-table-cell"><%= sort_link @q, :id, "ID"%></th>
		  		<th><%= sort_link @q, :title, "Image Name"%></th>
		  		<th><%= sort_link @q, :uploaded_at, "Uploaded"%></th>
		  		<th class="d-none d-md-table-cell">Status</th>
			</tr>
		</thead>
		<tbody>
			<% @images.each do |image| %>
				<tr class="click-link">
					<td class="d-none d-md-table-cell"><%=image.id%></td>
					<td>
						<% if image.complete %>
							<a href="<%=image_path(image)%>"><%=image.title%></a>
						<% else%>
							<%=image.title%>
						<% end %>
					</td>
					<td><%=image.created_at%></td>
					<td class="d-none d-md-table-cell"><% if image.processing %>Processing<% elsif image.complete %>Available<%else%>Awaiting Processing<% end%>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
</div>