<div class="container">
<br/><br/>
<h1>Image Archive</h1>
<h4>Check out all the cool images we have uploaded!</h4>
<br/><br/>

<%= search_form_for @q do |f| %>
	<%= f.condition_fields do |c| %>
		<div class="field">
			<%= c.attribute_fields do |a| %>
				<%= a.attribute_select associtations: [:ClinicalDatum] %>
			<% end %>
			<%= c.predicate_select %>
			<%= c.value_fields do |v|  %>
				<%= v.text_field :value %>
			<% end %>
		</div>
	<%end %>
	<div class="actions"><%= f.submit "Search" %></div>
	<%end%>










<%= link_to new_image_path do %>
	<button style="float:right" class="btn btn-success">+ Upload New Image</button>
<% end %>
<br/><br/>
<div class="image-table">
	<table class="table table-hover">
	  <thead>
	  	<tr>
		  	<th><%= sort_link @q, :id, "ID"%></th>
		  	<th><%= sort_link @q, :title, "Image Name"%></th>
		  	<th><%= sort_link @q, :uploaded_at, "Date Uploaded"%></th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @images.each do |image| %>
	  		<tr class="image-link" data-link="<%=image_path(image)%>">
	  			<td><%=image.id%></td>
	  			<td><%=image.title%></td>
	  			<td><%=image.created_at%></td>
	  		</tr>
	  	<% end %>
	  </tbody>
	</table>
</div>
</div>