<div class="container">
<br/><br/>
<h1>Digital Pathology Image Archive</h1>
<h4>The list below is a repository of all the images that are available for public access</h4>
<br/><br/>
<%= link_to new_image_path do %>
	<button style="float:right" class="btn btn-success">+ Upload New Image</button>
<% end %>
<br/><br/>
<div class="image-table">
	<table class="table table-hover">
	  <thead>
	  	<tr>
		  	<th>ID</th>
		  	<th>Image Name</th>
		  	<th>Date Uploaded</th>
		  	<th>Status</th>
	  	</tr>
	  </thead>
	  <tbody>
	  	<% @images.each do |image| %>
	  		<tr class="image-link" data-link="<% if !image.path.blank?%><%=image_path(image)%><% end %>">
	  			<td><%=image.id%></td>
	  			<td><%=image.title%></td>
	  			<td><%=image.created_at%></td>
	  			<td><% if image.processing %>Processing<% elsif !image.path.blank?%>Available<%else%>Awaiting Processing<% end%></td>
	  		</tr>
	  	<% end %>
	  </tbody>
	</table>
</div>
</div>