<div class="container">
	<br/>
	<br/>
	<h1>My Images</h1>
	<h4>The list below is a repository of your uploaded images</h4>
	<br/>
	<%= render partial: "search_form" %>
	<%= link_to new_image_path do %>
		<button style="float:right" class="btn btn-success">+ Upload New Image</button>
	<% end %>
	<br/><br/>
	<div class="image-table">
		<table class="table table-hover">
		  <thead>
		  	<tr>
		  		<th><input type="checkbox" id="select_all"/></th>
			  	<th class="d-none d-md-table-cell"><%= sort_link @q, :id, "ID"%></th>
			  	<th><%= sort_link @q, :title, "Image Name"%></th>
			  	<th><%= sort_link @q, :uploaded_at, "Uploaded"%></th>
			  	<th class="d-none d-md-table-cell">Status</th>
			  	<th>Privacy</th>
		  	</tr>
		  </thead>
		  <%= form_tag confirm_3d_images_path do %>
		  	<%= submit_tag "Delete Image", :style=>"float:right; margin-left:10px;", :class=>"btn-raised btn btn-danger", :formaction=> confirm_delete_images_path %>
		  	<%= submit_tag "Convert to 3D Volume", :style=> 'float:right', :class=> 'btn btn-success btn-raised'%>
			  <tbody>
			  	<% @images.each do |image| %>
			  		<tr class="image-link" data-link="<% if !image.path.blank?%><%=image_path(image)%><% end %>">
			  			<td><%= check_box_tag "image_ids[]", image.id, false, class: 'image-check-box'%></td>
			  			<td class="d-none d-md-table-cell"><%=image.id%></td>
			  			<td><%=image.title%></td>
			  			<td><%=image.created_at%></td>
			  			<td class="d-none d-md-table-cell"><% if image.processing %>Processing<% elsif !image.path.blank?%>Available<%else%>Awaiting Processing<% end%></td>
			  			<td><% if image.hidden? %>Private<%else%>Public<%end%></td>
			  		</tr>
			  	<% end %>
			  </tbody>
		  <% end %>
		</table>
	</div>
</div>
