<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">
	<div id="viewer-sidebar" class="bmd-layout-drawer bg-faded" aria-expanded="false" aria-hidden="false">
		<div class="drawer-tab active drawer-home">
			<%= render partial: "drawer_home", locals: { image: @image } %>
		</div>
		<div class="drawer-tab drawer-annotations">
			<%= render partial: "drawer_annotations", locals: { annotation: @annotation, image: @image_shown, annotations: @annotations } %>
		</div>
		<div class="drawer-tab drawer-data">
			<%= render partial: "drawer_data", locals: { image_json: @image_json, image: @image } %>
		</div>
    </div>

    <div class="bmd-layout-content">
		<div style="height:100%;" class="row">
			<div class="<%= @image.threed? ? 'col-10' : 'col-12' %>" style="padding-right:0px;">
				<div id="openseadragon-container" class="openseadragon">
				</div>
			</div>
			<% if @image.threed? %>
				<div class="col-2 slider-container">
						<button id="slideUp"><i class="material-icons" role="presentation">arrow_drop_up</i></button>
						<input id="sliceNavigator" class="form-control" type="text" data-slider-min="0" data-slider-max="<%=@slices.length - 1%>" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
						<button id="slideDown"><i class="material-icons" role="presentation">arrow_drop_down</i></button>
				</div>
			<% end %>
		</div>
	</div>

	<div style="position: fixed; bottom: 0; width: 150; right: 0; z-index: 100; color:white; background: rgba(0,0,0,.5); padding: 5px; text-align: center;" class="position-box">
		x: <span id="position-text-x"></span><br/>
		y: <span id="position-text-y"></span>
	</div>
</div>

<div id="general-modal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="margin-top:100px;">
   		<div class="modal-content">
     		<div class="modal-header">
      			<h4 id="general-modal-title" class="modal-title"></h4>
      			<button type="button" class="close" data-dismiss="modal">&times;</button>
     		</div>
    		<div class="modal-body">
				<div class="md-form" style="margin-right: 0">
					<input type="hidden" id="quick_input_field_key" class="form-control">
		   			<input type="text" id="quick_input_field" class="form-control">
				</div>
    		</div>
    		<div class="modal-footer">
		       	<button onclick="submitData()" class="btn btn-primary">Submit</button>
		    </div>
    	</div>
    </div>
</div>

<div id="run-modal" class="modal fade" role="dialog">
	<div class="modal-dialog"  style="margin-top:200px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
      			<h4 id="general-modal-title" class="modal-title">Run Analysis on ROI</h4>
			</div>
			<div class="modal-body">
				<%= render partial: "runs/form", locals: { slices: @slices } %>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<script id="image_template" type="text/template">
</script>

<script>
	var viewer = OpenSeadragon({
		preserveViewport: true,
	    id:            "openseadragon-container",
	    prefixUrl:     "/openseadragon/images/",
	    tileSources:   "/<%=@image_shown.dzi_url%>",
	    maxZoomPixelRatio: 2.0
	});

	viewer.initializeAnnotations();
	bindAnnotationRows();
	var mouse_tracker = new OpenSeadragon.MouseTracker({
		element: viewer.element,
		moveHandler: trackPointer
	});

	function trackPointer(event){
		var imagePoint = viewer.viewport.viewerElementToImageCoordinates(event.position);
		if(imagePoint.x >=0 && imagePoint.x <= <%=@image.width%> && imagePoint.y >=0 && imagePoint.y <= <%=@image.height%>){
			$('#position-text-x').html(String(imagePoint.x.toFixed(2)));
			$('#position-text-y').html(String(imagePoint.y.toFixed(2)));
		}else{
			$('#position-text-x').html("");
			$('#position-text-y').html("");
		}
	}


	$('.drawer-link').click(function(){
		var clicked_tab = $(this).attr('data-tab');
		$('.drawer-tab').removeClass('active');
		$('.'+clicked_tab).css('opacity',0).addClass('active').animate({opacity: 1}, 50);

		if(clicked_tab == 'drawer-annotations'){
			startDrawing();
		}else{
			stopDrawing();
		}
	});

	$('.start-draw').click(startDrawing);
	$('.stop-draw').click(stopDrawing);

	function stopDrawing(){
		viewer.stopDrawing(); 
		$('.start-draw').show(); 
		$('.stop-draw').hide();
	}

	function startDrawing(){
		viewer.startDrawing(); 
		bindAnnotationPrompt();
		$('.start-draw').hide(); 
		$('.stop-draw').show();
	}

	function bindAnnotationPrompt(){
		$( ".openseadragon-canvas svg" ).mouseup(function() {
				promptAndSaveAnnotation();
		});
	}

	function bindAnnotationRows(){
		$('.annotation-row').unbind().click(function(){
			var annotation_data = JSON.parse($(this).attr('annotation-data'))[0];
			viewer.annotations.set([annotation_data]);
		});
	}

	function promptAndSaveAnnotation(){
		var annotation_label = prompt("Please label your annotation", "");
	    if (annotation_label != null) {
	    	var all_annotations = viewer.annotations.get();
	   		var new_annotation = all_annotations.slice(-1)[0];
	   		var bbox = $('.openseadragon-canvas svg path').slice(-1)[0].getBBox();

	    	// Must act on the original array in order to change the existing annotation display
	    	all_annotations[all_annotations.length-1][1]["d"] = all_annotations[all_annotations.length-1][1]["d"] + 'Z';
	    	viewer.annotations.set(all_annotations);
	        $.post( '<%= annotations_path %>.json', {
			  	'image_id': <%= @image.id %>,
			  	'label': annotation_label,
			  	'data': JSON.stringify([new_annotation]),
			  	'x': bbox.x,
			  	'y': bbox.y,
			  	'width':bbox.width,
			  	'height':bbox.height
			})
	        .done(function(partial_data){
	        	$( ".annotations-table" ).prepend(partial_data);
	        	bindAnnotationRows();
	        });
	    }else{
	    	viewer.annotations.clean();
	    }
	}

	<% if @image.threed? %>
		var changeSlide = function() {
			var slice_num = slice_slider.bootstrapSlider('getValue');
			var current_bounds = viewer.viewport.getBounds();
			var saved_annotations = viewer.annotations.get();
			var is_drawing_mode = $('.drawer-annotations').hasClass('active');

			$.ajax({
  				url: "<%=@image.id%>/get_slice?slice="+slice_num.toString()
  			}).done(function(data){
  				viewer.open('/'+data.dzi_url);
				viewer.viewport.fitBounds(current_bounds);
				stopDrawing();
				viewer.shutdownAnnotations();
				viewer.initializeAnnotations();
				var checkAnnotationsActive = setInterval(function(){
					if(viewer.areAnnotationsActive()){
						viewer.annotations.set(saved_annotations);
						if(is_drawing_mode){
							startDrawing();
						}else{
							stopDrawing();
						}
						clearInterval(checkAnnotationsActive);
					}
				}, 1)
				bindAnnotationRows();
			});
		};

		var slice_slider = $("#sliceNavigator").bootstrapSlider({reversed : true}).on('change', changeSlide);

		$('#slideUp').bind('click', function(){
			var currentSlide = slice_slider.bootstrapSlider('getValue');
			if(currentSlide < <%=@slices.length - 1%>){
				slice_slider.bootstrapSlider('setValue', currentSlide + 1, true, true);
			}
		});

		$('#slideDown').bind('click', function(){
			var currentSlide = slice_slider.bootstrapSlider('getValue');
			if(currentSlide > 0){
				slice_slider.bootstrapSlider('setValue', currentSlide - 1, true, true);
			}
		});
	<% end %>
</script>



