<h4><%=@image.title%></h4>
<div id="<%=@image.upload_file_name.parameterize%>" class="openseadragon">
</div>

<script>
var viewer = OpenSeadragon({
    id:            "<%=@image.upload_file_name.parameterize%>",
    prefixUrl:     "/openseadragon/images/",
    tileSources:   "https://s3.amazonaws.com/<%=Rails.application.config.s3_bucket%>/<%=@image.upload_file_name.split('.svs')[0]%>/<%=@image.upload_file_name.split('.svs')[0]%>.dzi",
});
viewer.initializeAnnotations();
</script>