<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">
	<div id="dw-1" class="bmd-layout-drawer bg-faded" aria-expanded="false" aria-hidden="false">
		<div class="drawer-tab active drawer-home">
			<%= render partial: "drawer_home", locals: { image: @image } %>
		</div>
		<div class="drawer-tab drawer-annotations">
			<%= render partial: "drawer_annotations", locals: { annotation: @annotation, image: @slice } %>
		</div>
		<div class="drawer-tab drawer-data">
			<%= render partial: "drawer_data", locals: { image_json: @image_json, image: @image } %>
		</div>
    </div>

    <div class="bmd-layout-content">
		<div class="row">
			<div class="<%= @image.threed? ? 'col-11' : 'col-12' %>" style="padding-right:0px;">
				<div id="openseadragon-container" class="openseadragon">
				</div>
			</div>
			<% if @image.threed? %>
				<div class="col-1 slider-container">
						<button id="slideUp"><i class="material-icons" role="presentation">arrow_drop_up</i></button>
						<input id="sliceNavigator" class="form-control" type="text" data-slider-min="0" data-slider-max="<%=@slices.length - 1%>" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
						<button id="slideDown"><i class="material-icons" role="presentation">arrow_drop_down</i></button>
				</div>
			<% end %>
		</div>
	</div>
</div>

<div id="general-modal" class="modal fade" role="dialog">
	<div class="modal-dialog" style="margin-top:100px;">
   		<div class="modal-content">
     		<div class="modal-header">
       			<button type="button" class="close" data-dismiss="modal">&times;</button>
      			<h4 id="general-modal-title" class="modal-title"></h4>
     		</div>
    		<div class="modal-body">
				<div class="md-form" style="margin-right: 0">
					<input type="hidden" id="quick_input_field_key" class="form-control">
		   			<input type="text" id="quick_input_field" class="form-control">
				</div>
    		</div>
    		<div class="modal-footer">
		       	<button onclick="submitData()" class="btn btn-primary">Submit</button>
		    </div>
    	</div>
    </div>
</div>

<div id="run-modal" class="modal fade" role="dialog">
	<div class="modal-dialog"  style="margin-top:200px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
      			<h4 id="general-modal-title" class="modal-title">Run Analysis on ROI</h4>
			</div>
			<div class="modal-body">
				<%= render partial: "runs/form" %>
			</div>
			<div class="modal-footer">
			</div>
		</div>
	</div>
</div>

<script>
	var viewer = OpenSeadragon({
		preserveViewport: true,
	    id:            "openseadragon-container",
	    prefixUrl:     "/openseadragon/images/",
	    tileSources:   "/<%=Rails.application.config.data_directory%>/<%=@slice.file_name_prefix%>/<%=@slice.file_name_prefix%>.dzi"
	});

	viewer.initializeAnnotations();
	bindAnnotationRows();

	$('.drawer-link').click(function(){
		var clicked_tab = $(this).attr('data-tab');
		$('.drawer-tab').removeClass('active');
		$('.'+clicked_tab).css('opacity',0).addClass('active').animate({opacity: 1}, 50);

		if(clicked_tab == 'drawer-annotations'){
			$( ".openseadragon-canvas svg" ).mouseup(function() {
				promptAndSaveAnnotation();
			});
		}else{
			viewer.stopDrawing();
		}
	});

	$('.start-draw').click(function(){
		viewer.startDrawing(); 
		$('.start-draw').hide(); 
		$('.stop-draw').show();
	});

	$('.stop-draw').click(function(){
		viewer.stopDrawing(); 
		$('.start-draw').show(); 
		$('.stop-draw').hide();
	});

	function bindAnnotationRows(){
		$('.annotation-row').unbind().click(function(){
			var annotation_data = JSON.parse($(this).attr('annotation-data'))[0];
			var existing_annotations = viewer.annotations.get();
			existing_annotations.push(annotation_data);
			viewer.annotations.set(existing_annotations);
		});
	}

	function promptAndSaveAnnotation(){
		var annotation_label = prompt("Please label your annotation", "");
	    if (annotation_label != null) {
	    	all_annotations = viewer.annotations.get();
	    	all_annotations[all_annotations.length-1][1]["d"] = all_annotations[all_annotations.length-1][1]["d"] + 'Z';
	    	viewer.annotations.set(all_annotations);
	        $.post( '<%= annotations_path %>.json', {
			  	'image_id': <%= @image.id %>,
			  	'label': annotation_label,
			  	'data': JSON.stringify([all_annotations[all_annotations.length-1]])
			})
	        .done(function(data){
	        	$( ".annotations-table" ).prepend("<tr class='annotation-row' annotation-data='" + JSON.stringify(data.data) + "'><td>" + data.label + "</td><td>" + data.created_at + "</td></tr>" );
	        	bindAnnotationRows();
	        });
	    }else{
	    	viewer.annotations.clean();
	    }
	}

	<% if @image.threed? %>
		var changeSlide = function() {
			var slice_num = slice_slider.bootstrapSlider('getValue');
			var current_bounds = viewer.viewport.getBounds();
			$.get( "<%=@image.id%>/get_slice?slice="+slice_num.toString(), function( data ) {
				viewer.open("/<%=Rails.application.config.data_directory%>/" + data.file_name_prefix + "/" + data.file_name_prefix + ".dzi");
				viewer.viewport.fitBounds(current_bounds);
				viewer.annotations.clean()
				bindAnnotationRows();
			});
		};

		var slice_slider = $("#sliceNavigator").bootstrapSlider({reversed : true}).on('change', changeSlide);

		$('#slideUp').bind('click', function(){
			var currentSlide = slice_slider.bootstrapSlider('getValue');
			if(currentSlide < <%=@slices.length - 1%>){
				slice_slider.bootstrapSlider('setValue', currentSlide + 1, true, true);
			}
		});

		$('#slideDown').bind('click', function(){
			var currentSlide = slice_slider.bootstrapSlider('getValue');
			if(currentSlide > 0){
				slice_slider.bootstrapSlider('setValue', currentSlide - 1, true, true);
			}
		});
	<% end %>
</script>



