<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-in">
    <div id="viewer-sidebar" class="bmd-layout-drawer bg-faded" aria-expanded="false" aria-hidden="false">
    <header>
       <span style="white-space:pre-wrap;" class="navbar-brand">Landmarks</span>
    </header>
    <ul class="list-group">
        <a  class="save-landmarks list-group-item">
          <i class="material-icons" role="presentation">save</i>Save
        </a>
        <a  class="clear-canvas list-group-item">
          <i class="material-icons" role="presentation">delete</i>Clear
        </a>
        <%=link_to download_landmarks_image_path(@image.id) do%><span>Download Landmarks</span><% end %>
    </ul>
    </div>

    <div class="bmd-layout-content" style="background:#eee;">
        <div style="height:20px;" class="row">
            <div id="openseadragon-title1" class="col"></div>
            <div id="openseadragon-title2" class="col"></div>
        </div>
        <div style="height:100%;" class="row">
            <div id="openseadragon-container1" class="col"></div>
            <div id="openseadragon-container2" class="col"></div>
            <div class="col-2 slider-container">
                <button id="slideUp"><i class="material-icons" role="presentation">arrow_drop_up</i></button>
                <input id="sliceNavigator" class="form-control" type="text" data-slider-min="1" data-slider-max="<%=@slices.length%>" data-slider-step="1" data-slider-value="<%=(@slices.length.to_f/2).ceil(0)%>" data-slider-orientation="vertical"/>    

                <button id="slideDown"><i class="material-icons" role="presentation">arrow_drop_down</i></button>
                <span id="sliderValLabel">Current Reference: <span id="sliderVal"><%=(@slices.length.to_f/2).ceil(0)%></span></span>
            </div>
        </div>
    </div>
</div>

<script>

var default_slice = <%= (@slices.length.to_f/2).ceil(0) %>
function setImageTitle(divSelector, value) {
    document.querySelector(divSelector).innerHTML = value;
}

$('.clear-canvas').click(function(){
    clearAllElements();
});

$('.save-landmarks').click(function(){
    saveElements("Landmark points saved!");
});

var point_array_1 = []
var point_array_2 = []
var image_id = 0
var ref_image_url = "/<%= @ref_image.dzi_url %>";
var ref_image_id = <%= @ref_image.id%>;
var target_image_url = "/<%= @target_image.dzi_url %>";
var target_image_id = <%= @target_image.id %>;

setImageTitle("#openseadragon-title1", "Target Image:"+target_image_id);
setImageTitle("#openseadragon-title2", "Reference Image:"+ref_image_id);

var viewer1 = OpenSeadragon({
    id: "openseadragon-container1",
    tileSources:  target_image_url,
    prefixUrl:  "/openseadragon/images/",
    maxZoomPixelRatio: 2.0,
    minPixelRatio: 0.5,
    timeout: 100000,
    preserveViewport: true,
    imageLoaderLimit: 7
});

var viewer2 = OpenSeadragon({
    id: "openseadragon-container2",
    tileSources:  ref_image_url,
    prefixUrl:  "/openseadragon/images/",
    maxZoomPixelRatio: 2.0,
    minPixelRatio: 0.5,
    timeout: 100000,
    preserveViewport: true,
    imageLoaderLimit: 7
});

//viewer1.gestureSettingsMouse.clickToZoom = false;
//viewer2.gestureSettingsMouse.clickToZoom = false;

var overlay1 = viewer1.svgOverlay(); 
var overlay2 = viewer2.svgOverlay(); 


var mouse_tracker1 = new OpenSeadragon.MouseTracker({
    element: viewer1.canvas,
    clickHandler:  function(event) {
    if(event.quick){
        var HTMLid = "t-"+(point_array_1.length+1).toString();
        var viewportPoint = viewer1.viewport.pointFromPixel(event.position);
        drawMarker(viewportPoint, overlay1 , HTMLid, viewer1, point_array_1);
      }
    }
}).setTracking(true);


var mouse_tracker2 = new OpenSeadragon.MouseTracker({
    element: viewer2.canvas,
    clickHandler: function(event) {
    if(event.quick){
        var HTMLid = "r-"+(point_array_2.length+1).toString();
        var viewportPoint = viewer2.viewport.pointFromPixel(event.position);
        drawMarker(viewportPoint,overlay2, HTMLid, viewer2, point_array_2);
      }
    }
}).setTracking(true);


//Create a marker to draw and assign it the drag handler
function drawMarker(viewportPoint,overlay, HTMLid, viewerObj, points_array){
    var tip = d3.tip()
      .attr('class', 'd3-tip')
      .style("z-index", "999")
      .offset([-10, 0])
      .html(HTMLid);

    var elem = d3.select(viewerObj.svgOverlay().node());

    var elemEnter = elem.append("g")
            .attr("id",HTMLid).attr('class','points')
            .attr( 'transform','translate('+ 0 +','+ 0 +')');
    
    var circle = elemEnter.append("circle")
                        .style('fill', '#00FF00')
                        .attr("cx", viewportPoint.x)
                        .attr("cy", viewportPoint.y)
                        .attr("r", 0.005)
                        .on('mouseover', tip.show)
                        .on('mouseout', tip.hide);

    circle.call(tip);

    var imagePoint = viewerObj.viewport.viewportToImageCoordinates(viewportPoint);
    var point = {}
    point["id"] = HTMLid;
    point["x"] = imagePoint.x;
    point["y"] = imagePoint.y;
    points_array.push(point);

    d3.select("#"+HTMLid.toString()).each(function() { 
        var node = this;
        new OpenSeadragon.MouseTracker({
        element: node,
        dragHandler: function(event){
            var viewportDelta = viewerObj.viewport.deltaPointsFromPixels(event.delta); 
            var d3node = d3.select(node); 

            var transformobj= transformToObject(d3node.attr('transform'));
            transformobj.translate[0]=Number(transformobj.translate[0])+Number(viewportDelta.x);
            transformobj.translate[1]=Number(transformobj.translate[1])+Number(viewportDelta.y);
            d3node.attr("transform",objectToTransform(transformobj));
        },
        dragEndHandler: function(event){
            var viewportPoint = viewerObj.viewport.pointFromPixel(event.position);
            var imagePoint = viewerObj.viewport.viewportToImageCoordinates(viewportPoint);
            updatePointsArray(points_array, imagePoint, HTMLid);
        },
        dblClickHandler: function(event)    {
          tip.hide();
          deletePointPairs(HTMLid);
        }
    }).setTracking(true);
   });
}

function updatePointsArray(points_array, imagePoint, HTMLid){
  for (i = 0; i < points_array.length; i++) {
    if (points_array[i]["id"] == HTMLid)
    {
        points_array[i]["x"] = imagePoint.x;
        points_array[i]["y"] = imagePoint.y;
        break;
    }
  }
}

function transformToObject(transformStr)
{
    var b={};
    for (var i in a = transformStr.match(/(\w+\((\-?\d+\.?\d*e?\-?\d*,?)+\))+/g))
    {
      var c = a[i].match(/[\w\.\-]+/g);
      b[c.shift()] = c;
    }
    return b;
}

function objectToTransform(tobj){
        var jsonstr=JSON.stringify(tobj);
        jsonstr=jsonstr.replace("{","");
        jsonstr=jsonstr.replace("}","");
        jsonstr=jsonstr.replace(/("|:)/g, "");
        jsonstr=jsonstr.replace("[","(");
        jsonstr=jsonstr.replace("]",")");
        return jsonstr;
    }

function clearAllElements()
{
    d3.select(viewer1.svgOverlay().node()).selectAll('g').remove();
    d3.select(viewer2.svgOverlay().node()).selectAll('g').remove();
    // clear arrays
    point_array_1 = [];
    point_array_2 = [];
}

function saveElements(message)
{
  //check if both images have landmarks pairs
  if(point_array_1.length > 0 && point_array_2.length > 0 && point_array_1.length == point_array_2.length )
  {
    $.post( '<%= landmarks_path %>.json', {
            'parent_id': <%= @image.id %>,
            'image_id': target_image_id,
            'ref_image_id': ref_image_id,
            'image_data': JSON.stringify(point_array_1),
            'ref_image_data': JSON.stringify(point_array_2)
         }).done(function() {
            //clear arrays after save
            point_array_1 = [];
            point_array_2 = [];
            alert( message );
         });
  }
  else
  {
    alert( "No points or missing point pair" );
  }
}

function deletePointPairs(HTMLid)
{
    var length = HTMLid.length;
    var id  = HTMLid.substring(2, length);
    //#00FF00
    d3.select("#t-"+id).remove();
    d3.select("#r-"+id).remove();
    //update arrays
    var index = point_array_1.findIndex(x => x.id === "#t-"+id);
    point_array_1.splice(index, 1);
    index = point_array_2.findIndex(x => x.id === "#r-"+id);
    point_array_2.splice(index, 1);
    //saveElements("Landmarks points deleted!");
    alert("Please click save to confirm the delete");
}

var changeSlide  = function() {
            var ref_slice_num = slice_slider.bootstrapSlider('getValue');
            //var target_slice_num = slideUp && ref_slice_num > default_slice ? ref_slice_num + 1 : ref_slice_num-1 ;

            var target_slice_num = ref_slice_num - 1;

            $.ajax({
                  url: "get_slice?slice="+target_slice_num.toString()
              }).done(function(data){
                  target_image_url = data.dzi_url;
                  target_image_id = data.id;
                  viewer1.open('/'+data.dzi_url);
                  viewer1.viewport.goHome();
            });

            $.ajax({
                  url: "get_slice?slice="+ref_slice_num.toString()
              }).done(function(data){
                  ref_image_url = data.dzi_url;
                  ref_image_id = data.id;
                  viewer2.open('/'+data.dzi_url);
                  viewer2.viewport.goHome();
            });
        clearAllElements();
        setImageTitle("#openseadragon-title1", "Target Image: "+target_image_id+" Slice order:"+target_slice_num.toString());
        setImageTitle("#openseadragon-title2", "Reference Image: "+ref_image_id+" Slice order:"+ref_slice_num.toString());
    };

var slice_slider = $("#sliceNavigator").bootstrapSlider({reversed : true}).on('change', changeSlide);

$("#sliceNavigator").on("slide", function(slideEvt) {
    $("#sliderVal").text(slideEvt.value);
});

$('#slideUp').bind('click', function(){
    var currentSlide = slice_slider.bootstrapSlider('getValue');
    if(currentSlide < <%=@slices.length%>){
        slice_slider.bootstrapSlider('setValue', currentSlide + 1, true, true);
    }
});

$('#slideDown').bind('click', function(){
    var currentSlide = slice_slider.bootstrapSlider('getValue');
    if(currentSlide > 0){
       slice_slider.bootstrapSlider('setValue', currentSlide - 1, true, true);
    }
});

</script>