
<head>
  <title>Imageviewer</title>
  <!-- Material Design fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" href="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css">
  <script src="https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.iife.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<body>
  <div class="<%=params[:controller]%>_<%=params[:action]%>">
  <div id="top-nav" class="navbar navbar-inverse bg-inverse">
    <button class="navbar-toggler" type="button" data-toggle="drawer" data-target="#dw-1" aria-expanded="false">
      <span class="sr-only">Toggle drawer</span>
      <i class="material-icons">menu</i>
    </button>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="hidden-sm-down nav-link active" href="/">Home</a>
        <a style="margin-left:0px;" class="hidden-sm-up nav-link active" href="/">DP Home</a>
      </li>
      <li class="nav-item hidden-sm-down">
        <a class="nav-link" href="#">About<a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="/images">All Images</a>
          <a class="dropdown-item" href="/images/new">Upload</a>
        </div>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
        <% if !current_user %>
          <li class="nav-item">
            <%=link_to new_user_session_path, :style=>'line-height:15px;', :class=> 'nav-link' do %>
              Sign In
            <% end %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  style="line-height:15px;" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="<%=runs_path%>">My Analyses</a>
              <a class="dropdown-item" href="<%=my_images_images_path%>">My Images</a>
            </div>
          </li>
        <% end %>
      <li class="nav-item">
        <div class="bmd-form-group bmd-collapse-inline pull-xs-right">
          <button class="btn bmd-btn-icon collapsed" for="search" data-toggle="collapse" data-target="#collapse-search-1" aria-controls="collapse-search-1" aria-expanded="false">
            <i class="material-icons">search</i>
          <div class="ripple-container"></div></button>
          <span id="collapse-search-1" class="width collapse" aria-expanded="false" style="width: 0px;">
            <input class="form-control" type="text" id="search" placeholder="Enter your query...">
          </span>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn bmd-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons" >more_vert</i>
          <div class="ripple-container"></div></button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu-1">
            <% if !current_user %>
              <%=link_to new_user_session_path do %>
                <button class="dropdown-item" type="button">Sign In</button>
              <% end %>
            <% end %>
            <a href="/about"><button class="dropdown-item" type="button">About</button></a>
            <button class="dropdown-item" type="button">Contact</button>
            <button class="dropdown-item" type="button">Legal information</button>
            <% if current_user %>
              <%= link_to destroy_user_session_path, :method=>'delete' do %>
                <button class="dropdown-item" type="button">Logout</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <% if notice.present? %>
    <div class="alert alert-info" id="application-alert">
      <%= raw(notice) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger" id="application-alert">
      <%= raw(flash[:alert]) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="full-width-container" style="height:100%; width:100%; position:relative;">
    <%= yield %>
  </div>
</div>
</body>
