<head>
  <title>Digital Pathology: Emory University Biomedical Informatics</title>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" href="https://fezvrasta.github.io/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
  <script src="https://fezvrasta.github.io/bootstrap-material-design/dist/js/bootstrap-material-design.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <%= csrf_meta_tags %>
</head>

<body style="width:100%; height:100%;">
<div style="width:100%; height:100%;" class="<%=params[:controller]%>_<%=params[:action]%><%if params[:controller]=='runs' && params[:action]=='show'%><%= @run.image.threed? ? '_3d' : '_2d'%><%end%>">
  <nav id="top-nav"  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <button style="margin-right:5px;" class="sidebar-toggler navbar-toggler" type="button" data-toggle="drawer" data-target="#viewer-sidebar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img style="width:100px; margin-right:10px;" src="<%=asset_path("public/emory.png")%>"/>
      Digital Pathology
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#left-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="left-navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About<a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="images-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Images</a>
          <div class="dropdown-menu" aria-labelledby="images-dropdown">
            <a class="dropdown-item" href="/images">Public Archive</a>
            <a class="dropdown-item" href="/images/new">Upload</a>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li class="nav-item">
            <%=link_to new_user_session_path, :style=>'line-height:15px;', :class=> 'nav-link' do %>
              Sign In
            <% end %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  style="line-height:15px;" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu" aria-labelledby="account-dropdown">
              <a class="dropdown-item" href="<%=runs_path%>">My Analyses</a>
              <a class="dropdown-item" href="<%=my_images_images_path%>">My Images</a>
              <a class="dropdown-item" href="<%=edit_user_registration_path%>">Settings</a>
            </div>
          </li>
        <% end %>
        <li class="nav-item">
          <div class="dropdown">
            <button class=" d-none d-md-block btn bmd-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons" >more_vert</i>
              <div class="ripple-container"></div>
            </button>
            <a class="nav-link d-md-none dropdown-toggle"  style="line-height:15px;" id="more-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu">
              <% if !current_user %>
                <%=link_to new_user_session_path do %>
                  <button class="dropdown-item" type="button">Sign In</button>
                <% end %>
              <% end %>
              <a href="/about"><button class="dropdown-item" type="button">About</button></a>
              <% if current_user %>
                <%= link_to destroy_user_session_path, :method=>'delete' do %>
                  <button class="dropdown-item" type="button">Logout</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <% if notice.present? %>
    <div class="alert alert-info" id="application-alert">
      <%= raw(notice) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-danger" id="application-alert">
      <%= raw(flash[:alert]) %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>

  <div class="full-width-container">
    <%= yield %>
  </div>
</div>
</body>
